*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.wrap {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}
.summary,
.shop {
  width: 40vw;
  text-align: center;
  background-color: #e7eeea;
  padding: 10px;
}

.cost,
.delievery,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.total {
  padding-bottom: 10px;
}
item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
